*{
    margin: 0px;
    padding: 0px;

}
.bg-color-1{
    background-color: #F3F2EC !important; 
}
.bg-color-2{
    background-color: #EDEBE4 !important; 
}
.btn-color{
    border: 5px solid #C4A790 !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 20px;
    font-size: 20px;
}
.navbar-nav .nav-link.active{
    color: #e4b768;
}
.hero{
    height: calc(100vh - 56px) !important;
    margin-top: 56px;
}
.hero-btn{
    color: #C6AB94;
    border:1px solid #C6AB94;
    width: 200px;
}
h2{
    font-family: "Playfair Display" , serif; 
}
.h2-extra-size{
    font-size: 100px;
}

.card-title{
    font-family: "Playfair Display" , serif;
    color: #7C561A;
}
.card-author{

    color: #7D807E;
}
.view_more{
    cursor: pointer;
}
.nav-underline .nav-link.active, .nav-underline .show>.nav-link{
    border-bottom-color : #907C39;
}
.nav-link{
    color: #7D807E ;
}
.nav-link:focus, .nav-link:hover{
    
    border-bottom-color : #907C39;
    color: black ;
   
}